body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.container {
width: 100%;
height: 1000%;
position: relative;

}
.container ul{
    list-style-type: none;
}
.search{
position: absolute;
width: 75%;
height: 1.3%;
left:0%;
top: 0%;
background-color: black;
opacity: 0.95;
border: 2px solid white;
z-index: 1000;
}
select option:hover{
    background-color: rgb(235, 235, 89);
}
select {
font-size: 17.5px;
z-index: 1000;
position: absolute;
top: 5%;
left: 3%;
}


#form{
font-size: 20px;
position: absolute;
height: 10vh;
width: 100%;
top: 42.5%;
right: 1%;
font-family: "Oswald", sans-serif;
}
#search_field{
margin-left: 30%;
width: 25vw;
}
#search_field:hover{
    border: 2px solid rgb(196, 179, 32);
}
#submit_button{font-size: 25px; border-radius: 20px; font-family: "Oswald", sans-serif;}
#submit_button:hover{
    color: white;
    background-color: black;
}
#abweichung{
position: absolute;
display: none;
top: 40%;
left: 30%;
}


.search p{position: relative; display:flex; justify-content:flex-end; align-content: center; font-weight: bold; color: rgb(15, 15, 15); top: 1%; margin: 0px; z-index: 100;font-size: 25px; left: 0%;  margin-top: 15px; padding: 0px; width: 67.5%; background-color:  yellow; padding-right: 10px;
border-bottom-right-radius: 15px;} 

.Exchanger{
position: absolute;
right: 15%;
top: 10%;
width: 160px;
height: 100px;
background-color: yellow;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}
.Exchanger .process{
background-color: black;
height: 30px;
width: 120px;
color: white;
font-weight: bolder;
}
.Exchanger .generate{
    background-color: black;
    height: 30px;
width: 120px;
color: white;
font-weight: bolder;
}

.modi_div{
    z-index: 1000;

font-family: "Oswald", sans-serif;
top: 0%;
position: absolute;
right: 0%;
height: 1.3%;
width: 34.5%;
background-color: black;
opacity: 0.95;
border: 2px solid white;
display: flex;
justify-content: space-around;
}

.modi{
    font-family: "Oswald", sans-serif;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
width: 30%;
height: 60%;
background-color: yellow;
font-size: 20px;
border-radius: 20px;
}

.modi:hover{
background-color: black;
color: white;
}
.answer{
background-color: black;
position: absolute;
display: block;
top: 2.5%;
width: 100%;
height:max-content;
color: white;
font-size: 25px;


}
.answer ul{
margin: 0;

}
.answer ul li{
    border: 0.5px solid white;
}
.answer strong{
    font-size: 30px;
    color: rgb(226, 212, 14);
}

.progressbar{
position: absolute;
display: none;
left: 0%;
width: 0%;
height: 10vh;
background-color: rgba(0,0,0, 0.6);
border: 2px dotted rgb(226, 212, 14);
opacity: 0.75;
top: 6%;
justify-content: flex-end;
}
.progress_message{
position: absolute;
top:5%;
left:30%;
display: none;
font-size: 60px;
margin: 0;
margin-right: 0px;
color: yellow;
}

.show_witz{
    background-color: white;
    opacity: 0.6;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: absolute;
    width: 100%;
    font-family: "Oswald", sans-serif;    height: 250px;
    color: black;
    top: 2%;
}
.show_massebereich{
    z-index: 10;
    height: 90%;
    width: 100%;
    position: relative;
    top: 2.2%;
    display: block;

}
.show_one{
    margin-top: 5px;
    background-color: black;
    opacity: 0.8;
    font-size: 25px;
    width: 100%;
    border: 1px solid white;
    padding:0px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

.show_one ul li{
        z-index: 100;
        border: 0.5px solid white;
        opacity: 100;
    }
.show_one ul{
    z-index: 100;
    opacity: 100 !important;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.show_one strong{
        font-size: 25px;
        color: rgb(226, 212, 14);
        font-family: "Oswald", sans-serif;    }


#message_bar {
    width: 30%;
    height: 0%;
    position: relative;
    left: 35%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    animation-name: show_message_bar;
    animation-duration: 3s;
    background-color: none;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 100px;
    color: black;
    
    }
#skull_video{
    position: absolute;
    top: 7.5%;
    opacity: 0.7;
}

#message_div{
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    animation-name: message_div;
    font-size: 20px;
    color: white;
    animation-duration: 1.5s;
    width: 50%;
    position: absolute;
    height: 20%;
    background-color: black;
    left: 25%;
    top: 1.32%;
    border: 1.5px solid white;
}


@keyframes message_div{
    0%{
        display: flex;
        opacity: 0;  
    top: 10%;  }
    
    100%{
        opacity: 100;
        top: 1.32%;
    }
}

#dismis_message{
    position: absolute;
    font-size: 30px;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 50px;
    background-color: rgb(221, 42, 10);
}
#bring_message{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    justify-content: center;
    font-size: 20px;
}

#drop-zone {
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    font:20pt bold,"Vollkorn";color:#bbb;
    position: absolute;
    top: 2%;
    background-color: rgb(8, 8, 8);
    opacity: 0.5;
    left: 40%;
    
    animation: insert_div_animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes insert_div_animation{
    0%{
        width: 0px;
        height: 0px;
    }
    
    100%{
        width: 400px;
        height: 400px;
    }
}

#suggestionList{
    position: absolute;
    top: 75%;
    left: 30%;
    height:fit-content;
    width: 33.5%;
    background-color: yellow;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.9;}
.suggestionItem{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}